header {
    background-color: var(--background-tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 38px 48px;
}

.navegation-menu{
    margin-top: 24px;
}

.logo{
    width: 68px;
    height: 64px;
    display: inline-block;
    margin: 37px  0 0 48px;
}

input[type="checkbox"]:checked ~ nav{
    display: block;
}

nav{
    display: none;
}